certifi==2019.9.11
chardet==3.0.4
Django==2.2.2
djangorestframework==3.9.4
idna==2.8
psutil==5.6.3
pytz==2019.1
PyYAML==5.4
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.6
xkcd==2.4.2
requests==2.22.0
django-mysql==3.3.0