<html>
    <head>
        <title>Niketan's sample blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Niketan's sample blog</a></h1>
        </div>

        <div>
            <p>published: 12.02.2020, 13:58</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first blog and just to check that everything is working fine as expected. </p>
        </div>

        <div>
            <p>published: 10.02.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>The second blog is this one. </p>
        </div>
    </body>
</html>